@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(233, 241, 249);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 1px;
  border-radius: 10px;
  padding: 20px;
  width: 800px;
  margin-top: 50px;
}

.button-container,
.info-container {
  display: flex;
  align-items: center;
}

.list-item {
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border: 2px solid rgba(28, 29, 34, 0.06);
  display: flex;
  justify-content: space-between;
}

.auth-container {
  display: flex;
  justify-content: center;
  margin: 5px;
  height: 100vh;
}

.auth-container-box {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  margin: auto;
}

.auth-options {
  display: flex;
}

.auth-button {
  width: 50%;
  border: 0;
  padding: 14px;
}

.auth-button_cursor {
  cursor: pointer;
}

.user-email {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 15px;
  color: rgb(114, 114, 144);
  font-weight: 500;
  font-size: 20px;
}

.copyright {
  font-size: 13px;
  margin: 10px;
  color: rgb(114, 114, 144);
}

.copyright a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
}

.copyright a:hover {
  border-bottom: 1px solid rgb(108, 115, 148);
}

.outer-bar {
  width: 200px;
  height: 14px;
  background-color: rgb(216, 216, 216);
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.inner-bar {
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-bar span {
  font-size: 11px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.task-title {
  width: 300px;
}

.list-todos {
  padding-left: 0;
}

.not-tasks {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.error-auth {
  margin-top: 10px;
  margin-inline: auto;
  color: #d32f2f;
}

.error-input {
  color: #d32f2f;
  font-size: 11px;
  position: absolute;
  left: 0;
  top: 60px;
}
